<%# parte comum para todas as páginas do meu site %> 
<footer>
    <div class="redes-sociais"><br>
        <p>Redes Sociais</p>
        <ul>
            <li></li>
            <li><a href="#"><img src="./img/instagramIcon.svg" alt=""height="25"></a></li> 
            <li><a href="#"><img src="./img/facebookIcon.svg" alt="" height="25"></a></li>
            <li><a href="#"><img src="./img/twitterIcon.svg" alt="" height="25"></a></li>
            <li><a href="#"><img src="./img/youtubeIcon.svg" alt=""height="25"></a></li>
                             
        </ul>
    </div>
    <hr>             
    <div class="formas-pag">
        <p>Formas de Pagamento</p>
        <img src="img/methods.png">
    </div>

    <div class="footer-info">
        <p>
           Canil Dogs CNPJ: 54.358.132/0001-00 - Endereço: Rua João de Barro, 1225 - Belo Horizonte - MG
        </p>

        <p>
            Copyright© 2022 Canil Dogs S/A - Todos os direitos reservados
        </p>
    </div>
</footer>