<%# parte fora do layoutejs, meu usuario visualiza quando acessa sessão produtos %> 
<main>
    <div id="cao">
        <div class="cães">
       
            <h1>Lindos Cães</h1>
            <div class="informacao">
                <div class="showCase card-1">
                    <div class="card-img"><img src="/public/img/adulto.jpg" width="450" alt=""></div>
                    <h2>
                        Venha me conhecer!
                    </h2>      
                   
                    <button class="btn">Detalhes</button>
                </div>
                <div class="showCase card-2">
                    <div class="card-img"><img src="./public/img/filhote2.jpg" width="450" alt=""></div>
                    <h2>
                        Venha me conhecer!
                    </h2>      
                   
                    <button class="btn">Detalhes</button>
                </div>
                <div class="showCase card-3">
                    <div class="card-img"><img src=""  width="450" alt=""></div>
                    <h2>
                        Venha me conhecer!
                    </h2>      
                   
                    <button class="btn">Detalhes</button>
                </div>
    </div>
   
</main>
